@{
    ViewBag.Title = "Index";
}
@model Demo.Models.User
<head>
    <link rel="stylesheet" href="~/Scripts/IndexCss.css" />
</head>
<div class="container">
    <!-----------------------Add--------------------------->
@using (Html.BeginForm("Adddata", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  <form action="" method="post" role="form">
        <legent>Regist</legent>

        <div class="form-group">
            <div class="row">
                <label class="col-sm-2">Email</label>
                <input name="email" type="text" class="col-sm-3 form-control" id="" placeholder="exam@gmail.com" />
            </div>
            <div class="row">
                <label class="col-sm-2">Password</label>
                <input name="password" type="text" class="col-sm-3 form-control" id="" placeholder="" />
            </div>
        <!----Upload Image---->
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" style="width: 100%;" />     
            </div>
        <button type="submit" value="Upload" class="btn btn-primary">Submit</button>
    </form>
}

    <!----------------------Sow data-------------------->
@using (Html.BeginForm("data", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form action="" method="put" role="form">
        <legent>Regist</legent>

        <div class="form-group">
            <div class="row">
                <label class="col-sm-2">Email</label>
                <input type="text" class="col-sm-3 form-control" id="" placeholder="@ViewBag.MessageID" />
            </div>
            <div class="row">
                <label class="col-sm-2">Password</label>
                <input type="text" class="col-sm-3 form-control" id="" placeholder="@ViewBag.MessagePW" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Data</button>
    </form>
}

    <!----------------------Log in--------------------------->
  <!--  <form action="/products/data" method="put" role="form">
        <legent>Regist</legent>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2">Email</label>
                <input type="text" class="col-sm-3 form-control" id="" placeholder="@ViewBag.MessageID" />
            </div>
            <div class="row">
                <label class="col-sm-2">Password</label>
                <input type="text" class="col-sm-3 form-control" id="" placeholder="@ViewBag.MessagePW" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Data</button>
    </form>  -->
</div>  

<div class="container">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ViewProducts",("Products"))'">Products</button>
</div>


